.imagens {
    max-height:100%;
    max-width:100%;
    padding:20px;
}

.texto{
    color:grey;
    font-size: 50%;

}

body {
    font-family:"Open Sans";
}

.bannerTop {
    height: 600px;
    margin: auto;
    background-image: url(/*escreveraquiolinkoudiretoriodaimagem*/);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}